<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | X-Change</title>
    <link rel = "stylesheet" href = "/design.css"/> 
    <link rel = "stylesheet" href = "/about.css"/> 
     
</head>
<body>


<div class="container">

    <div class="about-box">
        <div class="back">
            <form action = "/auth/cancel" method = "POST"> 
                <input type = "submit" value ="↲ BACK TO DASHBOARD" >
            </form>
        </div>
        
        <div class="logo">
            <div class="logo-img">
                <img src = "/xlogo.png"/> 
            </div>

            <div class="app-version">
                <h1> Version 1.0.0 </h1>
            </div>
        </div>

        <div class="app-info">
            <div class="app-info-text">
                <div class="ai-text">
                    <h1 id = "short">X-Change is an application that will save your time. </h1>
                </div>
                
                <div class="ai-text">
                    <h1 id ="long"> X-Change allows you send e-money to any recipient who has the application and with this we encourage everyone to use the application to widen the audience
                    </h1>
                </div>
            </div>
        </div>


        <div class="footer">
            <small> Developed by Lonlon Boys </small>
        </div>
    </div>
</div>
</body>
</html>