<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password | X-Change</title>
    <link rel = "stylesheet" href = "/design.css"/> 
    <link rel = "stylesheet" href = "/reset.css"/> 
</head>
<body>

    <div class="container">
        <div class="reset-box">
            <div class="logo">
                <img src = "/xlogo.png"/>
            </div>

            <div class="title">
                <h1> RESET MPIN </h1>
            </div>

            <div class="reset-form">
                 <form method="post">
                    <div class="form-div">
                        <input type="password" name="mpin" placeholder="MPIN - 4 digits" maxlength="4" minlength="4" pattern="[0-9]{4}" required/> 
                    </div>
                    <div class="form-div">
                        <input type="password" name="cmpin" placeholder="CONFIRM MPIN" maxlength="4" minlength="4" pattern="[0-9]{4}" required/> 
                    </div>
                    
                    <div class="form-div"> 
                        <input type="submit" value="CHANGE MPIN">
                    </div>
                </form>
            </div>
            
        </div>
    </div>

    <form method="post">
        <label for="mpin">MPIN</label> <br>
        <input type="text" name="mpin" placeholder="MPIN - 4 digits" maxlength="4" minlength="4" pattern="[0-9]{4}" required/> <br>
        <input type="text" name="cmpin" placeholder="CONFIRM MPIN" maxlength="4" minlength="4" pattern="[0-9]{4}" required/> <br>
        <input type="submit" value="CHANGE MPIN">
    </form>

    {{#if message}}
    <h1>{{message}}</h1>
    {{/if}}
    
</body>
</html>